version: '3'

services:
  agent:
    container_name: newrelic-infra
    build:
      context: .
      dockerfile: newrelic-infra.dockerfile
    cap_add:
      - SYS_PTRACE
    network_mode: host
    pid: host
    privileged: true
    environment:
      - DOCKER_HOST=tcp://host.docker.internal:2375
    volumes:
      # Mount root drive (read-only) for host metrics
      - "/e/repos/t7.14-py-jenkins/new-relic/newrelic-infra:/host:ro"
      # Mount Docker socket (may require enabling Docker Desktop file sharing)
      - "//var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped
